* {
  background-color: #242320;
}

.input-forms {
  /* min-width: 466px; */
}

.body-border-bg {
  background-color: #242320;
  border-color: #ff8303;
  border-radius: 4px;
  color: white;
}

.body-border-bg:focus {
  background-color: #242320;
  border-color: #ff8303;
  border-radius: 4px;
}
.body-border-bg:hover {
  background-color: #242320;
  border-color: #ff8303;
  border-radius: 4px;
}

.body-border-bg::placeholder {
  color: #f0e3caa3;
}

.task-border-bg {
  background-color: #242320;
  border-color: #ff8303;
  border-radius: 8px;
  color: white;
  min-height: 426px;
}

.task-tickets-border-bg {
  background-color: #242320;
  border-color: #ff8303 !important;
  border-radius: 8px;
  color: white;
  /* min-height: 72px; */
  /* width: 345px; */
}



.custom-modal {
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ) !important; /* Adjust the opacity as needed */
  display: flex;
  align-items: center;
  justify-content: center;

  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
}

.custom-modal .ant-modal-content {
  background-color: transparent; /* Makes the modal content transparent */
  border-top: 2px solid #ff8303; /* Border color and width */

}

.custom-modal .ant-modal-body {
  background-color: #fff; /* Set the background color of the modal body */
  border-radius: 8px; /* Set the border radius of the modal body */
}


