


.input-forms {
  min-width: 466px;
}


.body-border-bg {
  background-color: #242320;
  border-color: #ff8303;
  border-radius: 4px;
  color: white;
}

.body-border-bg:focus {
  background-color: #242320;
  border-color: #ff8303;
  border-radius: 4px;
}
.body-border-bg:hover {
  background-color: #242320;
  border-color: #ff8303;
  border-radius: 4px;
}

.body-border-bg::placeholder {
  color: #f0e3caa3;
}

.task-border-bg {
  background-color: #242320;
  border-color: #ff8303;
  border-radius: 8px;
  color: white;
  min-height: 426px;
}

.task-tickets-border-bg {
  background-color: #242320;
  border-color: #ff8303 !important;
  border-radius: 8px;
  color: white;
  /* min-height: 72px; */
  /* width: 345px; */
}



@media screen and (max-width: 768px) {
  .input-forms {
    min-width: 100%;
  }
}
